<header id="Top-Navigation" class="top-navigation">
  <div class="logo">
    <img
      src="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642c3a0dc2a49420b5205e78_Vectors-Wrapper.svg"
      loading="lazy"
      width="51.41145324707031"
      height="37"
      alt="TeamSync Logo"
      class="vectors-wrapper"
    />
    <div class="text">TeamSync</div>
  </div>
  <div class="menu-items">
    <a href="#" class="link-2">Resources</a>
    <a href="#" class="link-2">Enterprise</a>
    <a href="#" class="link-2">Features</a>
    <a href="#" class="link-2">Articles</a>
  </div>
  <div class="actions">
    <a href="#" class="link">Log in</a>
    <a href="#" class="button w-button">Request a demo</a>
  </div>
</header>
