<section id="Pricing" class="pricing-2">
  <div class="pricing-3">
    <div class="headline-10">
      <h2 class="heading-3">Pricing</h2>
      <div class="body-3">
        Find a plan that fits all of your needs and more.
      </div>
    </div>
    <div class="frame-13900">
      <div *ngFor="let tier of pricingTiers" 
           [class]="tier.name === 'Pro' ? 'pro-4' : 'basic-3'">
        <div [class]="tier.name === 'Pro' ? 'frame-13902' : 'frame-13901'">
          <div class="tier-name-7">
            <div class="text-14">{{ tier.name }}</div>
            <div class="text-15">{{ tier.price }}</div>
          </div>
          <div class="bullets-6">
            <div *ngFor="let feature of tier.features" class="bullets-7">
              <div [class]="tier.features.indexOf(feature) === 0 ? 'bullet-point-wrapper-3' : 'bullet-point-wrapper-4'">
                <img
                  src="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642da3e48227ee20d757fb21_Vectors-Wrapper.svg"
                  loading="lazy"
                  width="8"
                  height="8"
                  alt=""
                  class="vectors-wrapper-11"
                />
              </div>
              <div class="feature-2">{{ feature }}</div>
            </div>
          </div>
        </div>
        <div class="tier-basic-3">
          <a href="#" [class]="tier.buttonClass + ' w-button'">
            {{ tier.buttonText }}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
