<section id="Value-prop-1" class="value-prop-1-2">
  <img
    src="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8710706a641fa29d6e9c_Illustration-1.png"
    loading="lazy"
    width="528"
    height="423.5"
    alt="Pieces of user interface"
    srcset="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8710706a641fa29d6e9c_Illustration-1-p-500.png 500w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8710706a641fa29d6e9c_Illustration-1-p-800.png 800w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8710706a641fa29d6e9c_Illustration-1.png 1056w"
    sizes="(max-width: 479px) 195px, (max-width: 991px) 63vw, 528px"
    class="illustration-2"
  />
  <div class="content-6">
    <h1 class="heading-2">
      Streamline your work processes &amp; boost productivity
    </h1>
    <div class="body">
      With features like project management, task delegation,
      collaboration, and real-time notifications, you'll have everything
      you need to stay on top of your work.
    </div>
  </div>
</section>

<section id="Value-prop-2" class="value-prop-2">
  <div class="content-3">
    <div class="heading-2">Access to your team on the go</div>
    <div class="body">
      Communicate in real-time with team members through our chat, video,
      and voice call features. Keep everyone up-to-date on project
      progress and updates.
    </div>
  </div>
  <img
    src="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8807395e19c98865b100_Illustration-1-1.png"
    loading="lazy"
    width="564.5"
    height="713.5"
    alt="Picture of an iPhone showing Teamsync"
    srcset="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8807395e19c98865b100_Illustration-1-1-p-500.png 500w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8807395e19c98865b100_Illustration-1-1-p-800.png 800w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8807395e19c98865b100_Illustration-1-1-p-1080.png 1080w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8807395e19c98865b100_Illustration-1-1.png 1129w"
    sizes="(max-width: 479px) 223px, (max-width: 991px) 67vw, 564.5px"
    class="illustration-1-1"
  />
</section>

<section id="Value-prop-3" class="frame-13877">
  <img
    src="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8a463370c853bc38e3d7_Illustration-2-1.png"
    loading="lazy"
    width="738"
    height="586.5"
    srcset="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8a463370c853bc38e3d7_Illustration-2-1-p-500.png 500w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8a463370c853bc38e3d7_Illustration-2-1-p-800.png 800w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8a463370c853bc38e3d7_Illustration-2-1-p-1080.png 1080w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8a463370c853bc38e3d7_Illustration-2-1.png 1476w"
    sizes="(max-width: 479px) 223px, (max-width: 767px) 67vw, 74vw"
    class="illustration-2-1"
  />
  <div class="content-3">
    <div class="heading-2">
      Easily manage workflows for projects of any size
    </div>
    <div class="body">
      Stay organized and on track with our powerful project management
      tools. Assign tasks, set deadlines, and track progress in real-time.
    </div>
  </div>
</section>

<section id="Value-prop-4" class="value-prop-4">
  <div class="content-3">
    <div class="heading-2">Stay on track and never miss a beat</div>
    <div class="body">
      Get instant alerts and notifications about upcoming deadlines. Our
      chat feature allows you to quickly communicate with your team and
      get the support you need to meet all project requirements.
    </div>
  </div>
  <img
    src="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8b39395e193e8d682919_Illustration-3-1.png"
    loading="lazy"
    width="516"
    height="388.5"
    alt="A conversation between two teammates about scheduling a meeting"
    srcset="https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8b39395e193e8d682919_Illustration-3-1-p-500.png 500w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8b39395e193e8d682919_Illustration-3-1-p-800.png 800w, https://assets-global.website-files.com/642ad644644c1d199a312e4b/642d8b39395e193e8d682919_Illustration-3-1.png 1032w"
    sizes="(max-width: 479px) 223px, (max-width: 991px) 67vw, 516px"
    class="illustration-3-1"
  />
</section>
